{
  "presets": [
    "@babel/preset-flow",
    [
      "@babel/env",
      {
        "loose": true,
        "useBuiltIns": "usage",
        "modules": false,
        // change this from node to something else
        "targets": {
          "node": "current"
        }
      },
    ]
  ],
  "plugins": [
    // ["@babel/plugin-transform-runtime", {
    //   "regenerator": true
    // }],
    // Stage 1
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-logical-assignment-operators",
    // foo?.bar?.possibleNull
    ["@babel/plugin-proposal-optional-chaining", { "loose": false }],
    ["@babel/plugin-proposal-pipeline-operator", { "proposal": "minimal" }],
    // const foo = object.foo ?? "default value";
    ["@babel/plugin-proposal-nullish-coalescing-operator", { "loose": false }],
    // better ternary
    "@babel/plugin-proposal-do-expressions",

    // Stage 2
    // ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-function-sent",
    "@babel/plugin-proposal-export-namespace-from",
    // "@babel/plugin-proposal-numeric-separator",
    // "@babel/plugin-proposal-throw-expressions",

    // Stage 3
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-syntax-import-meta",
    ["@babel/plugin-proposal-class-properties", { "loose": false }],
    "@babel/plugin-proposal-json-strings",
  ]
}
